html {
  background-color: #87a2fb;
}

.App {
  text-align: center;
}

.card {
  border: 1px solid red;
  border-radius: 20px;
  margin: 30px;
  background-color: #6f38c5;
  color: #adddd0;
}
.card a{
  color: #adddd0;
}

img {
  width: 80%;
}
